*{
    margin: auto;
    text-align: center;
    color: #ffffff;
}
@font-face{
	font-family: Segoe WP Black;
    src: url("font\SegoeWPBlack.ttf");
}
@font-face{
	font-family: Segoe WP Light;
    src: url("font\SegoeWPLight.ttf");
}
body{
    width: 100%;
    height: 100%;
}
h1{
    font-family: Segoe WP Black;
}
h2{
    font-family: Segoe WP Black;
}
a, article{
	font-family: Segoe WP Light;
}
q{
	font-family: Segoe WP Light;
}
img.background {
    min-height: 100%;
    min-width: 640px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}
.container{
    position: relative;
    margin: auto;
    width: 1000px;
    height: auto;
    display: flex;
    flex-direction: column;
    z-index: 3;
}
.shapka img{
    width: 1000px;
    height: 200px;
    border: 1px solid #000000;
}
.content{
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
}
.right-block{
    position: relative;
    width: 747px;
    height: 8050px;
    background-color: #1f2630;
    margin-right: 6px;
    border: 1px solid #000000;
}
.survivors h1{
    margin: 10px;
    font-size: 40px;
    border-top: 2.5px solid #000000;
    border-bottom: 2.5px solid #000000;
    text-align: left;
    padding-left: 50px;
    color: #929292;
}
.dwight-fairfield{
    display: flex;
    flex-direction: column ;
    margin: 10px 0 20px 10px;
    width: 100%;
    height: 1100px;
}
.dwight-fairfield h1{
    font-size: 30px;
    border: none;   
    padding-left: 100px;
    color: #ffffff;
}
.dwight-fairfield_description{
    display: flex;
    flex-direction: row;
    height: 250px;
    margin-left: 50px;
}
.dwight-fairfield_description img{
    width: 135px;
    height: 190px;
}
.dwight-fairfield_description-text{
    margin-left: 20px;
    width: 450px;
}
.dwight-fairfield_description-text article,li{
    text-align: justify;
}
.dwight-fairfield_main{
    display: flex;
    flex-direction: row;
    margin: 10px 20px;
    height: 600px;
}
.dwight-fairfield_main-text{
    width: 500px;
}
.dwight-fairfield_main-text article{
    width: 400px;
    margin-bottom: 80px;
    font-size: 15px;
    text-align: justify;
}
.dwight-fairfield_skills{
    display: flex;
    flex-direction: column;
}
.dwight-fairfield_skills h1{
    font-size: 40px;
    color: #bdbdbd;
}
.dwight-fairfield_skills-0{
    display: flex;
    flex-direction: row;
    position: relative;
    padding-top: 20px;
}
.dwight-fairfield_skills-0 img{
    width: 120px;
    height: 120px;
}
.dwight-fairfield_skills-0 h1{
    font-size: 20px;
    text-align: center;
    color: #ffffff;
}
.dwight-fairfield_skills-1{
    display: flex;
    flex-direction: column;
    width: 200px;
    position: relative;
}
.dwight-fairfield_skills-1 h1{
    position: relative;
    right: 50px;
}
.dwight-fairfield_skills-2{
    display: flex;
    flex-direction: column;
    width: 200px;
    position: relative;
}
.dwight-fairfield_skills-2 h1{
    position: relative;
    right: 50px;
}
.dwight-fairfield_skills-3{
    display: flex;
    flex-direction: column;
    width: 200px;
    position: relative;
}
.dwight-fairfield_skills-3 h1{
    position: relative;
    right: 50px;
}
.claudette-morel{
    display: flex;
    flex-direction: column ;
    margin: 10px 0 20px 10px;
    width: 100%;
    height: 1100px;
}
.claudette-morel h1{
    font-size: 30px;
    border: none;   
    padding-left: 100px;
    color: #ffffff;
}
.claudette-morel_description{
    display: flex;
    flex-direction: row;
    height: 250px;
    width: 600px;
    margin-left: 50px;
}
.claudette-morel_description img{
    width: 135px;
    height: 190px;
}
.claudette-morel_description-text{
    margin-left: 20px;
    width: 600px;
}
.claudette-morel_description-text article,li{
    text-align: justify;
}
.claudette-morel_main{
    display: flex;
    flex-direction: row;
    margin: 10px 20px;
    height: 600px;
}
.claudette-morel_main-text{
    width: 500px;
}
.claudette-morel_main-text article{
    width: 400px;
    margin-bottom: 80px;
    font-size: 15px;
    text-align: justify;
}
.claudette-morel_skills{
    display: flex;
    flex-direction: column;
}
.claudette-morel_skills h1{
    font-size: 40px;
    color: #bdbdbd;
}
.claudette-morel_skills-0{
    display: flex;
    flex-direction: row;
    position: relative;
    padding-top: 20px;
}
.claudette-morel_skills-0 img{
    width: 120px;
    height: 120px;
}
.claudette-morel_skills-0 h1{
    font-size: 20px;
    text-align: center;
    color: #ffffff;
}
.claudette-morel_skills-1{
    display: flex;
    flex-direction: column;
    width: 250px;
    position: relative;
    top: 15px;
    left: 30px;
}
.claudette-morel_skills-1 h1{
    position: relative;
    right: 50px;
}
.claudette-morel_skills-2{
    display: flex;
    flex-direction: column;
    width: 250px;
    position: relative;
    top: 15px;
}
.claudette-morel_skills-2 h1{
    position: relative;
    right: 50px;
}
.claudette-morel_skills-3{
    display: flex;
    flex-direction: column;
    width: 200px;
    position: relative;
    right: 30px;
}
.claudette-morel_skills-3 h1{
    position: relative;
    right: 70px;
}
.meg-thomas{
    display: flex;
    flex-direction: column ;
    margin: 10px 0 20px 10px;
    width: 100%;
    height: 1100px;
}
.meg-thomas h1{
    font-size: 30px;
    border: none;   
    padding-left: 100px;
    color: #ffffff;
}
.meg-thomas_description{
    display: flex;
    flex-direction: row;
    height: 250px;
    width: 600px;
    margin-left: 50px;
}
.meg-thomas_description img{
    width: 135px;
    height: 190px;
}
.meg-thomas_description-text{
    margin-left: 20px;
    width: 600px;
}
.meg-thomas_description-text article,li{
    text-align: justify;
}
.meg-thomas_main{
    display: flex;
    flex-direction: row;
    margin: 10px 20px;
    height: 600px;
}
.meg-thomas_main-text{
    width: 500px;
}
.meg-thomas_main-text article{
    width: 400px;
    margin-bottom: 80px;
    font-size: 15px;
    text-align: justify;
}
.meg-thomas_skills{
    display: flex;
    flex-direction: column;
}
.meg-thomas_skills h1{
    font-size: 40px;
    color: #bdbdbd;
}
.meg-thomas_skills-0{
    display: flex;
    flex-direction: row;
    position: relative;
    padding-top: 20px;
}
.meg-thomas_skills-0 img{
    width: 120px;
    height: 120px;
}
.meg-thomas_skills-0 h1{
    font-size: 20px;
    text-align: center;
    color: #ffffff;
}
.meg-thomas_skills-1{
    display: flex;
    flex-direction: column;
    width: 200px;
    position: relative;
}
.meg-thomas_skills-1 h1{
    position: relative;
    right: 70px;
}
.meg-thomas_skills-2{
    display: flex;
    flex-direction: column;
    width: 220px;
    position: relative;
}
.meg-thomas_skills-2 h1{
    position: relative;
    right: 50px;
}
.meg-thomas_skills-3{
    display: flex;
    flex-direction: column;
    width: 200px;
    position: relative;
}
.meg-thomas_skills-3 h1{
    position: relative;
    right: 50px;
}
.jake-park{
    display: flex;
    flex-direction: column ;
    margin: 10px 0 20px 10px;
    width: 100%;
    height: 1100px;
}
.jake-park h1{
    font-size: 30px;
    border: none;   
    padding-left: 100px;
    color: #ffffff;
}
.jake-park_description{
    display: flex;
    flex-direction: row;
    height: 250px;
    width: 600px;
    margin-left: 50px;
}
.jake-park_description img{
    width: 135px;
    height: 190px;
}
.jake-park_description-text{
    margin-left: 20px;
    width: 600px;
}
.jake-park_description-text article,li{
    text-align: justify;
}
.jake-park_main{
    display: flex;
    flex-direction: row;
    margin: 10px 20px;
    height: 600px;
}
.jake-park_main-text{
    width: 500px;
}
.jake-park_main-text article{
    width: 400px;
    margin-bottom: 80px;
    font-size: 15px;
    text-align: justify;
}
.jake-park_skills{
    display: flex;
    flex-direction: column;
}
.jake-park_skills h1{
    font-size: 40px;
    color: #bdbdbd;
}
.jake-park_skills-0{
    display: flex;
    flex-direction: row;
    position: relative;
    padding-top: 20px;
}
.jake-park_skills-0 img{
    width: 120px;
    height: 120px;
}
.jake-park_skills-0 h1{
    font-size: 20px;
    text-align: center;
    color: #ffffff;
}
.jake-park_skills-1{
    display: flex;
    flex-direction: column;
    width: 200px;
    position: relative;
}
.jake-park_skills-1 h1{
    position: relative;
    right: 70px;
}
.jake-park_skills-2{
    display: flex;
    flex-direction: column;
    width: 200px;
    position: relative;
}
.jake-park_skills-2 h1{
    position: relative;
    right: 60px;
}
.jake-park_skills-3{
    display: flex;
    flex-direction: column;
    width: 200px;
    position: relative;
}
.jake-park_skills-3 h1{
    position: relative;
    right: 65px;
}
.nea-karlsson h1{
    font-size: 30px;
    border: none;   
    padding-left: 100px;
    color: #ffffff;
}
.nea-karlsson_description{
    display: flex;
    flex-direction: row;
    height: 250px;
    width: 600px;
    margin-left: 50px;
}
.nea-karlsson_description img{
    width: 135px;
    height: 190px;
}
.nea-karlsson_description-text{
    margin-left: 20px;
    width: 600px;
}
.nea-karlsson_description-text article,li{
    text-align: justify;
}
.nea-karlsson_description-text li{
    color: #bdbdbd;
}
.nea-karlsson_main{
    display: flex;
    flex-direction: row;
    margin: -30px 20px;
    height: 650px;
}
.nea-karlsson_main img{
    width: 210px;
    height: 550px;
}
.nea-karlsson_main-text{
    width: 400px;
}
.nea-karlsson_main-text article{
    margin-top: -50px;
    font-size: 15px;
    text-align: justify;
}
.nea-karlsson_skills{
    display: flex;
    flex-direction: column;
}
.nea-karlsson_skills h1{
    font-size: 40px;
    color: #bdbdbd;
    text-align: center;
}
.nea-karlsson_skills-0{
    display: flex;
    flex-direction: row;
    position: relative;
    padding-top: 20px;
}
.nea-karlsson_skills-0 img{
    width: 120px;
    height: 120px;
}
.nea-karlsson_skills-0 h1{
    font-size: 20px;
    text-align: center;
    color: #ffffff;
}
.nea-karlsson_skills-1{
    display: flex;
    flex-direction: column;
    width: 200px;
    position: relative;
}
.nea-karlsson_skills-1 h1{
    position: relative;
    right: 50px;
}
.nea-karlsson_skills-2{
    display: flex;
    flex-direction: column;
    width: 200px;
    position: relative;
}
.nea-karlsson_skills-2 h1{
    position: relative;
    right: 65px;
}
.nea-karlsson_skills-3{
    display: flex;
    flex-direction: column;
    width: 200px;
    position: relative;
}
.nea-karlsson_skills-3 h1{
    position: relative;
    right: 60px;
}
.ace-visconti h1{
    font-size: 30px;
    border: none;   
    padding-left: 100px;
    color: #ffffff;
}
.ace-visconti_description{
    display: flex;
    flex-direction: row;
    height: 250px;
    width: 600px;
    margin-left: 50px;
}
.ace-visconti_description img{
    width: 135px;
    height: 190px;
}
.ace-visconti_description-text{
    margin-left: 20px;
    width: 600px;
}
.ace-visconti_description-text article,li{
    text-align: justify;
}
.ace-visconti_description-text li{
    color: #bdbdbd;
}
.ace-visconti_main{
    display: flex;
    flex-direction: row;
    margin: -30px 20px;
    height: 650px;
}
.ace-visconti_main img{
    width: 210px;
    height: 550px;
}
.ace-visconti_main-text{
    width: 400px;
    margin-top: 20px;
}
.ace-visconti_main-text q{
    color: #bdbdbd;
    font-size: 15px;
    text-align: justify;
}
.ace-visconti_main-text article{
    margin-top: 50px;
    font-size: 15px;
    text-align: justify;
}
.ace-visconti_skills{
    display: flex;
    flex-direction: column;
}
.ace-visconti_skills h1{
    font-size: 40px;
    color: #bdbdbd;
    text-align: center;
}
.ace-visconti_skills-0{
    display: flex;
    flex-direction: row;
    position: relative;
    padding-top: 20px;
}
.ace-visconti_skills-0 img{
    width: 120px;
    height: 120px;
}
.ace-visconti_skills-0 h1{
    font-size: 20px;
    text-align: center;
    color: #ffffff;
}
.ace-visconti_skills-1{
    display: flex;
    flex-direction: column;
    width: 200px;
    position: relative;
}
.ace-visconti_skills-1 h1{
    position: relative;
    right: 50px;
}
.ace-visconti_skills-2{
    display: flex;
    flex-direction: column;
    width: 200px;
    position: relative;
}
.ace-visconti_skills-2 h1{
    position: relative;
    right: 50px;
}
.ace-visconti_skills-3{
    display: flex;
    flex-direction: column;
    width: 200px;
    position: relative;
}
.ace-visconti_skills-3 h1{
    position: relative;
    right: 50px;
}
.william-overbeck h1{
    font-size: 30px;
    border: none;   
    padding-left: 100px;
    color: #ffffff;
}
.william-overbeck_description{
    display: flex;
    flex-direction: row;
    height: 250px;
    width: 600px;
    margin-left: 50px;
}
.william-overbeck_description img{
    width: 135px;
    height: 190px;
}
.william-overbeck_description-text{
    margin-left: 20px;
    width: 600px;
}
.william-overbeck_description-text article,li{
    text-align: justify;
}
.william-overbeck_description-text li{
    color: #bdbdbd;
}
.william-overbeck_main{
    display: flex;
    flex-direction: row;
    margin: -30px 20px;
    height: 650px;
}
.william-overbeck_main-text{
    width: 400px;
}
.william-overbeck_main-text article{
    margin-top: -50px;
    font-size: 15px;
    text-align: justify;
}
.william-overbeck_skills{
    display: flex;
    flex-direction: column;
}
.william-overbeck_skills h1{
    font-size: 40px;
    color: #bdbdbd;
    text-align: center;
}
.william-overbeck_skills-0{
    display: flex;
    flex-direction: row;
    position: relative;
    padding-top: 20px;
}
.william-overbeck_skills-0 img{
    width: 120px;
    height: 120px;
}
.william-overbeck_skills-0 h1{
    font-size: 20px;
    text-align: center;
    color: #ffffff;
}
.william-overbeck_skills-1{
    display: flex;
    flex-direction: column;
    width: 200px;
    position: relative;
}
.william-overbeck_skills-1 h1{
    position: relative;
    right: 80px;
}
.william-overbeck_skills-2{
    display: flex;
    flex-direction: column;
    width: 200px;
    position: relative;
}
.william-overbeck_skills-2 h1{
    position: relative;
    right: 80px;
}
.william-overbeck_skills-3{
    display: flex;
    flex-direction: column;
    width: 200px;
    position: relative;
}
.william-overbeck_skills-3 h1{
    position: relative;
    right: 85px;
}
.survivors-pages{
    width: 100%;
    font-size: 25px;
    margin-top: 50px;
}
.survivors-pages a{
    text-decoration: none;
    padding: 0 10px 0 10px;
    color: #999999;
    border: 1px solid #000000;
}
.survivors-pages a:hover{
    text-decoration: none;
    padding: 0 10px 0 10px;
    color: #ffffff;
    border: 1px solid #000000;
}
.nav{
    width: 247px;
    height: 8050px;
    background-color: #313c47;
    border: 1px solid #000000;
}
.nav img{
    width: 200px;
    height: 200px;
}
.logo{
    display: flex;
    flex-direction: column;
    border: 1px solid #000000;
    padding: 5px 5px 10px 5px;
}
.logo h1{
    font-size: 25px;
}
.logo article{
    font-size: 10px;
    color: #999999;
    margin-top: 5px;
}
.menu{
    font-size: 20px;
    margin-top: 35px;
    border: 1px solid #000000;
}
.menu ul{
    display: flex;
    flex-direction: column;
}
.menu a{
    text-decoration: none;
    margin: 10px 0 10px;
    padding-right: 50px;
}
#menu-chapters{
    border: 1px solid #000000;
    margin-top: 35px;
}
#menu-chapters h1{
    font-size: 25px;
}
#menu-chapters ul{
    display: flex;
    flex-direction: column;
    padding: 5px 5px 10px 5px;
}
#menu-chapters a{
    text-decoration: none;
    padding-bottom: 5px;
    font-size: 15px;
    border-bottom: 1px solid #000000;
    width: 100px;
}
#contacts{
    margin-top: 35px;   
    padding: 5px 5px 10px 5px;
    border: 1px solid #000000;
}
#contacts h1{
    font-size: 20px;
}
#contacts article{
    font-size: 15px;
    text-align: left;
    padding-left: 10px;
    color: #aaaaaa;
}
#help{
    margin-top: 35px;   
    padding: 5px 5px 10px 5px;
    border: 1px solid #000000;
}
#help h1{
    font-size: 20px;
}
#help article{
    font-size: 15px;
    text-align: left;
    padding-left: 10px;
    color: #aaaaaa;
}
.dbd{
    margin-top: 75px;
    font-size: 40px;
    opacity: 10%;
}
.dbd-dead{
    position: relative;
    right: 50px;
}
.dbd-by{
    margin-top: 100px;
}
.dbd-daylight{
    margin-top: 100px;
    position: relative;
    left: 50px;
}
.footer{
    position: relative;
    margin-top: 4px;
    width: 100%;
    height: 200px;
    background-color: #0a141c;
    display: flex;
    flex-direction: row;
    z-index: 3;
}
.footer img{
    width: 230px;
    height: 196px;
}
.kursach{
    margin-top: 10px;
    width: 400px;
}
.kursach h1{
    font-size: 40px;
}
.kursach article{
    margin-top: 20px;
    font-size: 20px;
    text-align: left;
}